
body {   
margin-left: 22%;
margin-right: 22%;    
}

.container-icons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    border-bottom: 10px solid blue;
}

#left-nav {
    display: flex;
    justify-content: flex-start;    
    }

#left-nav-delicious {
    font-family: 'Yellowtail', cursive;
    font-size: 34px; 
}
    
#paper {
    display: flex;
    background-image: url("images/list-bg.png");
    height: 300px;
    width: 100%;
    align-items: center;
    margin-bottom: 40px;   
}

#left-ingredients {
    display: flex block;
    justify-content: flex-start;
    font-family: 'Patrick Hand', cursive;
    font-size: 24px;
    color: rgba(83, 77, 56, 0.79);
    line-height: 1.3;
    margin-bottom: 65px;
}

#right-ingredients {
    display: flex block;
    justify-content: flex-end;
    font-family: 'Patrick Hand', cursive;
    font-size: 24px;
    color: rgba(83, 77, 56, 0.79);
    line-height: 1.3;
    margin-bottom: 65px;
}

ul {
    list-style: none;  
}

.social-media-icon {
    margin-right: 2px;
}

#icon-rss {
    margin-left: 8px;
    margin-right:2px;
}

h1 {
    font-family: 'Anton', sans-serif;
}

.instructions {
    font-size: 15px;
    font-family:  'Merriweather', serif;
    line-height: 1.75;
    color: rgb(102, 101, 101);
    /*color: #838383;   */
}

#image {
    display: flex;
    justify-content: center;
    margin-bottom: 29px;
}

#footer-bar {
    border-top: 10px solid blue;
    padding:26px;
}

button {
    color: white;
    background-color: #A95B45;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    font-size: 18px;
}

