body {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#lockup {
    float: left;
    justify-content: flex-start;
    text-indent: 4px;
    width: 300px;
}

#logomark {
    margin: 28px 0px 5px ;
    float: left;
}

#logotype {
    font-family: 'Yellowtail', cursive;
    font-size: 34px;
    margin: 20px 5px -5px 0px;
    color: #333;
}

#tagline {
    font-family: 'Oswald' , sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: #888;
    margin-top: -7px;
    margin-bottom: 0px;
    margin-left: 46px
}

#social {
    justify-content: flex-end;
    margin-top: 3%;
}

#social ul {
   list-style-type: none;
   display: inline-flex;
}

#social li {
    margin: 0px 2px 2px 0px;
}

#social #gap {
    padding-left: 8px;
}

h1 {
    font-family: 'Oswald' , sans-serif;
    margin: 0 0 -2px;
    color: #333;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .8em;
    color: #838383;
}

#content-title h2 {
    font-family: 'Oswald' , sans-serif;
    text-transform: uppercase;
    font-size: .7em;
    font-weight: 200;
    color: #838383;
    margin-top: 0px;
    margin-bottom: 0px;
}

#print-text {
    float: right;
    padding-bottom: 10px;   
}

#print-icon {
    float: right;
    margin-right: 3px;
    padding-top: 2px; 
}

#main-content p {
    text-align: left;
    text-indent: 1.5em;
    line-height: 1.5em;
}

#ingredients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 295px;
    background-image: url('images/list-bg.png');
    font-family:  "Comic Sans MS", "Comic Sans", cursive;
    font-size: 1.2em;
    line-height: 1.4em;
    color: #838383;
}

fieldset {
    border: none;
    padding-top: 4%;
}


#author-name {
    font-weight: bold;
    color: #444;
}

#credits {
    font-size: .8em;
    text-align: center;
}

/**** graphics and dividers ****/

button {
    background: #A95B45;
    border: none;
    font-family: 'Oswald' , sans-serif;
    font-weight: 200;
    font-size: .6em;
    color: #fff;
    padding: 6px 24px;
}

.angled {
    height: 6px;
    background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
    margin-bottom: 30px;
}

.line-icon {
    text-align: center;
}

.logo-line {
    overflow: visible;
    padding: 0;
    border: none;
    border-top: solid 1px #838383;
    color: #838383;
    text-align: center;
}

.logo-line :after {
    content: "./images/small-logo.png";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #fff;
}

/* .line-icon::after {
    width: 80%;
    height: 1px;
    border-top: 1px solid #999;
    display: inline-block;
    content: '';
    padding-top: 0.5em;
} */

#author {
    display: flex;
}

#author p {
    width: 420px;
    justify-content: space-around;
}

#author button {
    justify-content: flex-end;
    margin: 20px 20px;
}

footer {
    margin-top: 10%;
    margin-bottom: 10%;
}


