body {
    padding-right: 10%;
    padding-left: 10%;
    font-family: 'Noto Serif', serif;
    font-size: 1.2em;
    color: rgba(0, 0, 0, .7)

}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    color: #000;
}
hr.bottom {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.bottom:after {
    content: "img/small-logo.png";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
#print {
    text-transform: uppercase;
    text-align: right;
}
p.sub-meta {
    text-transform: uppercase;
    -webkit-margin-before: 0;
    font-family: 'Oswald', sans-serif;
    color: rgba(0, 0, 0, .4);
}
button {
    text-transform: uppercase;
    color: #fff;
    background-color: rgb(158, 91, 53);
}
.footer-text {
    text-align: center;
    color: rgba(0, 0, 0, .4);
}
#recipe-card{
    background-image: url("img/list-bg.png");
    width: 100%;
    background-repeat: repeat-y;
    background-size: 96.5%;
    font-family: 'Patrick Hand', cursive;
    column-count: 2;
    padding: 20px;
}
ul {
list-style-type: none;
padding: 0;

}
li {
    padding-left: 1.3em;
    font-size: 1.2em;
    -webkit-margin-before: 0;
}
li:before{
content: "\f00c";
font-family: FontAwesome;
display: inline-block;
margin-left: -1.3em;
width: 1.3em;

}
#logo{
    font-family: 'Yellowtail', cursive;
    font-size: 3em;
}


