body {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: column;
    justify-content: center; 
}

section {
    flex-direction: column;
    color: rgb(122, 122, 122);
}

img {
    max-width: 100%;
}

h1, h2 {
    color: black;
}

h2 {
    font-family: 'Anton';
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 2em;
}

h2 span {
    font-family: 'Roboto Mono';
    color: rgb(122, 122, 122);
    font-size: .21em;
}

li {
    line-height: 1.1em;
    list-style-type: none;
    font-family: 'Patrick Hand';
    font-size: 18px;
}

button {
    background-color: #bf6f56;
    color: white;
    font-size: 11px;
    border: none;
    padding: 16px 26px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#delicious {
    font-family: 'Yellowtail';
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header div {
    display: inline-block;
    
}

#top-hr, #bottom-hr {
    height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}

#logo {
    align-self: flex-start;
   
}

#icons {
    align-self: flex-end;

}

#icons-right {
    margin-left: 9px;
}

#recipe-title {
    display: flex;
    flex: 1 200px;
    order: 1;
}

#print {
    flex: 1 200px;
    order: 2;
    align-self: flex-end;
}

#list-left, #list-right {
    display: inline-block;
    color: darkslategray;
}

#author-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10%;
}

#Vanessa {
    color: darkslategray
}

#van-p {
    object-fit: contain;
    width: 80%;
}






