/****** Typography *******/

#logotype {
    font-family: 'Yellowtail', cursive;
    font-size: 1.5em;
    color: black;
}

#tagline {
    font-family: 'Oswald' , sans-serif;
    text-transform: uppercase;
    font-size: .3em;
    color: #444;
}

h1 {
    font-family: 'Oswald' , sans-serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .8em;
    color: #838383;
}

#content-title h2 {
    font-family: 'Oswald' , sans-serif;
    text-transform: uppercase;
    font-size: .3em;
    color: #838383;
}

#main-content p {
    text-align: left;
    text-indent: 1.5em;
}

#ingredients {
    font-family:  "Comic Sans MS", "Comic Sans", cursive;
    color: #838383;
}

#author-name {
    font-weight: bold;
    color: #444;
}

#credits {
    font-size: .8em;
    text-align: center;
}

/**** graphics and dividers ****/

button {
    background: #A95B45;
    border: none;
    font-family: 'Oswald' , sans-serif;
    font-weight: 200;
    font-size: .6em;
    color: #fff;
    padding: 6px 24px;
}

hr {
    height: 6px;
    background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
    margin-bottom: 50px;
}

.line-icon {
    text-align: center;
}

.line-icon::before,
.line-icon::after {
    width: 25%;
    height: 1px;
    border-top: 1px solid #999;
    display: inline-block;
    content: '';
    padding-top: 0.5em;
}

/**** layout ****/

#author {
    display: flex;
}

#author button {
    justify-content: flex-end;
    margin: 20px 20px;
}


